<section class="content">
  <div class="create-meeting-container">
    <div class="header">
      <img src="https://cdn-icons-png.flaticon.com/512/3381/3381269.png" alt="Conférence vidéo" class="header-img">
      <h2>Rejoindre une réunion</h2>
    </div>
    
    <div class="join-meeting">
      <h3>Joindre une réunion</h3>
      <input type="text" id="joinMeetingLink" [(ngModel)]="joinMeetingLink" placeholder="Entrez le lien de la réunion">
      <button class="join-button" (click)="joinMeeting($event)">Rejoindre</button>
    </div>
  </div>
</section>

