.content{
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  padding-top: 50px;
}

.create-meeting-container {
  max-width: 800px;
  width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* En-tête avec image et titre */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.header-img {
  width: 50px;
  margin-right: 20px;
}

.header h2 {
  font-size: 24px;
  color: #333;
  font-weight: 600;
  margin: 0;
}

/* Style pour la section de rejoindre une réunion */
.join-meeting {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.join-meeting h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #007bff;
  font-weight: 500;
}

/* Style du champ de saisie */
input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Style du bouton */
.join-button {
  background-color: #28a745;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-button:hover {
  background-color: #218838;
}

.join-button:active {
  background-color: #1e7e34;
}
