

<div class="row">
    <div class="col s12 l10 offset-l1">
      <ul class="tabs" #recruteurTabs>
        <li class="tab col s3"><a href="#offres" class="blue-grey-text text-darken-4 active">Mes offres</a></li> 
      </ul>
    </div>

    <div id="offres" class="col s12 l10 offset-l1">
      <div class="col s4 hide-on-med-and-down">
        <div class="input-field">
          <a [routerLink]="['/entretien']" [queryParams]="{
            type: 'public', 
            id: 1, 
            roomId: 'c24aafbd-f3ba-4141-ad8a-5439f2a35f75',
            salonNom: 'recrutement', 
            user: recruteur?.profile.nom
        }" class="btn teal darken-4"><i class="material-icons large left">videocam</i>Conference</a>
        </div>
      </div>
      <div class="col s4 offset-s4 hide-on-med-and-down">
        <div class="input-field">
          <i class="material-icons prefix">search</i>
          <input type="text" [(ngModel)] ="rechercher" placeholder="Rechercher">
        </div>
      </div>
      
      <table class="striped responsive-table">
        <thead>
          <th>#</th>
          <th>POSTE</th>
          <th>LIEU</th>
          <th>STATUT</th>
          <th>TYPE DE CONTRAT</th>
          <th>CANDIDATURES</th>
        </thead>
        <tbody>
          <tr *ngFor="let offre of offres | filter: rechercher; index as ind">
            <td>{{ ind + 1 }}</td>
            <td>{{ offre.titre }}</td>
            <td>{{ offre.lieu }}</td>
            <td>{{ offre.publier ? 'Publier' : 'Non publier' }}</td>
            <td>{{ offre.typeContrat | uppercase }}</td>
            <td>
              <a [href]="'#offre'" class="waves-effect waves-light modal-trigger" (click)="recupererLesCandidat(offre.id)">
               Il y a {{offre?.candidat.length}} candidat(s) pour cette offre
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <div id="offre" class="modal" #offreModal>
        <div class="modal-content">
          <h4>Liste des candidats</h4>
          <table class="striped responsive-table">
            <thead>
              <th>#</th>
              <th>NOM</th>
              <th>PRÉNOM</th>
              <th>TÉLÉPHONE</th>
              <th>CV DU CANDIDAT</th>
              <th>ACTIONS</th>
            </thead>
            <tbody>
              @for (candidat of candidats; track candidat.id; let ind = $index) {
                <tr>
                  <td>{{ ind + 1 }}</td>
                  <td>{{ candidat?.profile?.nom}}</td>
                  <td>{{ candidat?.profile?.prenom}}</td>
                  <td>{{ candidat?.profile?.telephone}}</td>
                  <td class="center"><a [routerLink]="['/candidat', candidat?.id, 'curriculum-vitae']" class="valign-wrapper"><i class="material-icons small"> assignment</i>Consulter</a></td>
                  <td>
                    @if(candidat?.UtilisateurOffres?.statut === 'attente'){
                      <button data-target="candidatModal" (click)="recupererCandidatId(candidat.id)" class="modal-trigger btn-floating green darken-2"><i class="material-icons">done</i></button>&nbsp;
                      <button class="btn-floating red darken-2" (click)="rejeter(candidat.id)"><i class="material-icons">cancel</i></button>
                    }@else if(candidat?.UtilisateurOffres?.statut === 'accepter') {
                      Candidature retenue
                    }@else {
                      Candidature non retenu
                    }
                  </td>
                </tr>
              }@empty {
                <tr>
                  <td colspan="5" class="center">Aucun candidat pour cette offre</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <a class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
      </div>

      <div id="candidatModal" class="modal" #accepter>
        <div class="modal-content">
          <div class="card-panel">
            <form>
              <div class="input-field">
                <input type="text" [(ngModel)]="candidatAccepter.commentaire" name="commentaire" id="commentaire">
                <label for="commentaire">Date et heure de l'entretien</label>
              </div>
              <div class="input-field">
                <button class="btn modal-close" (click)="retenir()">Envoyer</button>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <a [href]="'/dashbord'" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
      </div>

    </div>
      
</div>